body {
    font-family: 'Roboto', sans-serif;
}

.wrapper {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0px 100px;
}

.logo {
    display: flex;
    margin: 60px 0px 40px 0px;
    text-decoration: none;
    color: black;
    margin: 0px;
    font-weight: 400;
    font-size: 80px;
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: #35444F;
}

.menu-link {
    display: flex;
    align-items: center;
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 24px;
    height: 70px;
    padding: 0px 40px;
}

h2,
.menu-link:hover {
    background-color: #222F3A;
}

hr {
    background-color: white;
    height: 68px;
    margin: 0px;
}

.main {
    display: flex;
    flex-direction: row;
    gap: 45px;
    max-width: 1280px;
    margin: 50px auto 50px auto;
    padding: 0px 100px;
}

.aside {
    display: flex;
    flex-direction: column;
    width: 350px;
    border: 0.5px solid #000000;
}

.aside-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80px;
    padding-left: 45px;
    text-decoration: none;
    font-weight: 400;
    font-size: 27px;
    line-height: 27px;
    color: #485863;
}

.aside-link:hover {
    background-color: #DBDBDB;
    color: #000000;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 35px;
}

.content-text {
    margin: 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
}

footer {
    width: 1280px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 40px;
    background-color: #B5B7BA;
}

.footer-links {
    display: flex;
    flex-direction: row;
    gap: 28px
}

.footer-link {
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
    text-decoration: none;
}

.footer-link:hover {
    text-decoration: underline;
    color: #3181A6;
}

.copyright {
    font-weight: 400;
    font-size: 28px;
    color: #0C1927;
}